/*
*    Master CSS
*/
*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
body{
    font-family : "Arial, Helvetica, sans-serif";
    font-weight: bold;
    text-transform: uppercase;
}
.flex-container{
    height: 500px;
    display:flex;
    background-color: #a7a4a4;
    color: #ffffff;
    margin:20px;
    border: 15px solid #4E5C93;
    /*
    *    ATTENZIONE AL VERSO DELL'ASSE IMPOSTATO.
    *    di Default è ROW
    *    perché cambiano il verso delle regole sottostanti
    */
    justify-content: space-around;

    align-items: end;/* Giocate con i vari valori per vedere come si comportano lgi elementi all'interno */
}
.item{
    height: 100px;
    width: 100px;
    border: 5px solid #eeeeee;
    background-color: #4E5C93;
    color: #ffffff;
    margin:10px;
    /* il float crea un buco */
    float:left;
}

p{}
