/*
*    Master CSS
*/
*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
body{
    font-family : "Arial, Helvetica, sans-serif";
    font-weight: bold;
    text-transform: uppercase;
}
.flex-container{
    height: 500px;
    background-color: #a7a4a4;
    color: #ffffff;
    margin:20px;
    border: 15px solid #4E5C93;
    display:flex;

    flex-wrap: wrap;
}
.item{
    height: 100px;
    width: 100px;
    border: 5px solid #eeeeee;
    background-color: #4E5C93;
    color: #ffffff;
    margin:10px;
    display: flex;
    flex-wrap: wrap;
    flex-basis: 200px;
}
