/*
*    Master CSS
*/
body{
    font-family : "Arial, Helvetica, sans-serif";
}
.flex-container{}
    /*oppure creando delle pseudo elementi*/
    .flex-container:after{
        content: "";
        clear:left;
        display: block;
    }
.item{
    height: 100px;
    width: 100px;
    background-color: #254de4;
    color: #ffffff;
    margin:10px;
    /* il float crea un buco */
    float:left;
}

p{}
